syntax1

In [1]:
print("Hello World")

Hello World

syntax2

In [2]:
if 5 > 2:
  print("Five is greater than two")
else:
    print("")

Five is greater than two!

comments1

In [4]:
#This is a commentS

comments2

In [5]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

variable1

In [11]:
#create a value named and assign the value to it
carname="Volvo"

variable2

In [12]:
#create a variable named and assign the value to it.
x=50

variable3

In [13]:
#display the sum of,using two variables:
x=5
y=10
print(x+y)

15

variable4

In [14]:
#create a variable named, assign to it and display the result
x=5
y=10
z=x+y
print(z)

15

variable5

In [15]:
#remove the illegal characters in the veriable named
#2my-first_name="Jhon"
myfirst_name="Jhon"

variable6

In [16]:
#insert the correct syntax to assign the same value to all the three variables in one code line
x=y=z="Orange"

variable7

In [2]:
#Insert the correct keyword to make the variable x belong to the global scope
def myfunc():
    global x
    x = "fantastic"
myfunc()

data types1

In [18]:
#The following code example would print the data type of x, what data type would that be?
x=5
print(type(x))

<class 'int'>

data types2

In [19]:
#The following code example would print the data type of x, what data type would that be?
x="Hello World"
print(type(x))

<class 'str'>

data types3

In [21]:
#The following code example would print the data type of x, what data type would that be?
x=20.5
print(type(x))

<class 'float'>

data types4

In [22]:
x=["apple","banana","cherry"]
print(type(x))

<class 'list'>

data types5

In [23]:
x=("apple","banana","cherry")
print(type(x))

<class 'tuple'>

data types6

In [24]:
name":x={""John","age":36}
print(type(x))

<class 'dict'>

data types7

In [25]:
x=True
print(type(x))

<class 'bool'>

numbers1

In [26]:
#Insert the correct syntax to convert x into a floating point number
x=5
x=float(x)
print(x)

5.0

numbers2

In [27]:
#Insert the correct syntax to convert x into a integer
x=5.5
x=int(x)
print(x)

5

numbers3

In [28]:
#Insert the correct syntax to convert x into a complex number
x=5
x=complex(x)
print(x)

(5+0j)

string1

In [29]:
#Use the method to print the length of the string
x="Hello World"
print(len(x))

11

string2

In [31]:
#Get the first character of the string
txt="Hello World"
x=(txt[0])
print(x)

H

string3

In [32]:
#Get the characters from index 2 to index 4 ()
txt="Hello World"
x=txt[2:5]
print(x)

llo

string4

In [33]:
#Return the string without any whitespace at the beginning or the end.
txt=" Hello World"
x=txt.strip()
print(x)

Hello World

string5

In [34]:
#convert the value of to the upper case
txt="Hello World"
txt=txt.upper()
print(txt)

HELLO WORLD

string6

In [35]:
#convert the value of to the lower case
txt="Hello World"
txt=txt.lower()
print(txt)

hello world

string7

In [36]:
#Replace the character H with a J
x = "Hello World"
y=x.replace("H","J")
print(y)

Jello World

string8

In [37]:
#Insert the correct syntax to add a placeholder for the age parameter.
age=36
txt="My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

booleans1

In [38]:
#The statement below would print a Boolean value, which one?
print(10>9)

True

booleans2

In [39]:
print(10==9)

False

booleans3

In [40]:
print(10<9)

False

booleans4

In [41]:
print(bool("abc"))

True

booleans5

In [42]:
print(bool(0))

False

operators1

In [43]:
#Multiply with , and print the result
print(10*5)

50

operators2

In [44]:
#Divide by , and print the result.
print(10/2)

5.0

operators3

In [45]:
#Use the correct membership operator to check if "apple" is present in the object.fruits
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

operators4

In [46]:
#Use the correct comparison operator to check if is not equal to
if 5!=10:
  print("5 and 10 is not equal")

5 and 10 is not equal

operators5

In [47]:
#Use the correct logical operator to check if at least one of two statements is .True
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

At least one of the statements is true

if...else1

In [48]:
#Print "Hello World" if a is greater than b
a = 50
b = 10
if a>b:
  print("Hello World")

Hello World

if...else2

In [49]:
#Print "Hello World" if a is not equal to b
a = 50
b = 10
if a!=b:
  print("Hello World")

Hello World

if...else3

In [50]:
#Print "Yes" if a is equal to b, otherwise print "No"
a = 50
b = 10
if a==b:
  print("Yes")
else:
  print("No")

No

if...else4

In [51]:
#Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3"
a = 50
b = 10
if a==b:
  print("1")
elif a>b:
  print("2")
else:
  print("3")

2

if...else5

In [53]:
#Print "Hello" if a is equal to b , and c is equal to d
if a == b and c == d:
 print("Hello")

if...else6

In [ ]:
#Print "Hello" if a is equal to b, or if c is equal to d
if a == b or c == d:
  print("Hello")

if...else7

In [54]:
#Insert the missing indentation to make the code correct:
"""
if 5 > 2:
print("Five is greater than two!")
"""
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!

if...else8

In [55]:
#Use the correct short hand syntax to put the following statement on one line:
"""
if 5 > 2:
print("Five is greater than two!")
"""
if 5 > 2: print("Five is greater than two!")

Five is greater than two!

if...else9

In [56]:
#Use the correct short hand syntax to write the following conditional expression in one line:
"""
if 5 > 2:
  print("Yes")
else
  print("No")
"""
print("Yes") if 5>2 else print("No")

Yes