python while loops1

In [7]:
#Print i as long as i is less than 6
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

python while loops2

In [8]:
#stop the loop if i is 3:
i=1
while i<6:
    if i==3:
        break
    i+=1
    print(i)

2
3

python while loops3

In [9]:
#In the loop, when i is 3, jump directly to the next iteration:
i=0
while i<6:
    i+=1
    if i==3:
     continue
    print(i)

1
2
4
5
6

python while loops4

In [10]:
#Print a message once the condition is false
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

python list1

In [11]:
#Print the second item in the fruits list
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

python list2

In [14]:
#Change the value from "apple" to "kiwi", in the fruits list
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

python list3

In [15]:
#Use the append method to add "orange" to the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

python list4

In [16]:
#Use the insert method to add "lemon" as the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

python list5

In [17]:
#Use the remove method to remove "banana" from the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

python list6

In [18]:
#Use negative indexing to print the last item in the list.
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

python list7

In [19]:
#Use a range of indexes to print the third, fourth, and fifth item in the list.
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

python list8

In [20]:
#Use the correct syntax to print the number of items in the list.
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

python for loops1

In [21]:
#Loop through the items in the list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
 print(x)

apple
banana
cherry

python for loops2

In [22]:
#In the loop, when the item value is "banana", jump directly to the next item.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
      continue
print(x)

cherry

python for loops3

In [23]:
#Use the range function to loop through a code set 6 times.
for x in range(6):
    print(x)

0
1
2
3
4
5

python for loops4

In [24]:
#Exit the loop when x is "banana"
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
     break
print(x)

banana

arrays1

In [25]:
#Get the value of the first array item:
cars = ["Ford", "Volvo", "BMW"]
x=cars[0]
print(x)

Ford

arrays2

In [27]:
#Change the value of the first array item:
cars = ["Ford", "Volvo", "BMW"]
cars[0] = "Toyota"
print(cars)

['Toyota', 'Volvo', 'BMW']

arrays3

In [28]:
#Return the number of elements in the array:
cars = ["Ford", "Volvo", "BMW"]
x=len(cars)
print(len(cars))

3

arrays4

In [29]:
#Print each item in the array:
cars = ["Ford", "Volvo", "BMW"]
for x in cars:
    print(x)

Ford
Volvo
BMW

arrays5

In [30]:
#Add one more element to the array:
cars = ["Ford", "Volvo", "BMW"]
cars.append("Honda")
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

arrays6

In [31]:
#Delete the second element of the array:
cars = ["Ford", "Volvo", "BMW"]
cars.pop(1)
print(cars)

['Ford', 'BMW']

arrays7

In [32]:
#Delete the element that has the value "Volvo":
cars = ["Ford", "Volvo", "BMW"]
cars.remove("Volvo")
print(cars)

['Ford', 'BMW']

python tuple1

In [33]:
#Use the correct syntax to print the first item in the fruits tuple.
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

python tuple2

In [34]:
#Use the correct syntax to print the number of items in the fruits tuple.
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

python tuple3

In [35]:
#Use negative indexing to print the last item in the tuple.
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

python tuple4

In [36]:
#Use a range of indexes to print the third, fourth, and fifth item in the tuple.\

fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

python sets1

In [37]:
#Check if "apple" is present in the fruits set.
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

python sets2

In [38]:
#Use the add method to add "orange" to the fruits set.
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'orange', 'banana', 'apple'}

python sets3

In [39]:
#Use the correct method to add multiple items (more_fruits) to the fruits set.
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'orange', 'cherry', 'banana', 'apple', 'mango', 'grapes'}

python sets4

In [40]:
#Use the remove method to remove "banana" from the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

python sets5

In [41]:
#Use the discard method to remove "banana" from the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

python dictionaries1

In [42]:
#Use the get method to print the value of the "model" key of the car dictionary.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang

python dictionaries2

In [44]:
#Change the "year" value from 1964 to 2020.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"]= 2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

python dictionaries3

In [45]:
#Add the key/value pair "color" : "red" to the car dictionary.
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["color"]="red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

python dictionaries4

In [46]:
#Use the pop method to remove "model" from the car dictionary.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

python dictionaries5

In [47]:
#Use the clear method to empty the car dictionary.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

{}